@font-face {
font-family: 'PTSerif';
src: local('PT Serif'), local('PTSerif'),
	 url('../fonts/PTSerif.woff2') format('woff2'),
	 url('../fonts/PTSerif.woff') format('woff');
}

@font-face {
font-family: 'PTSans';
src: local('PT Sans'), local('PT Sans'),
	 url('../fonts/PTSans.woff2') format('woff2'),
	 url('../fonts/PTSans.woff') format('woff');
}

::-moz-selection {
background: #049CDB;
color: #FFF;
text-shadow: none;
}

::selection {
background: #049CDB;
color: #FFF;
text-shadow: none;
}

html { border-top: 2px solid #232E35; }

html, li a {
background: white;
color: #333;
padding: 16px;
}

body {
font: .6em/1.618 "PTSerif", Georgia, serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: antialiased;
font-smoothing: antialiased;
}

.wrapper {
max-width: 32em;
padding: 1.618em;
margin: auto;
}

p {
text-align: justify;
text-justify: newspaper;
font-size: 110%;
line-height: 1.7;
}

h1 { font-size: 175%; }
h2 { font-size: 125%; }

a {
color: #049CDB;
text-decoration: none;
outline: none;
}

a:hover { 
background-color: powderblue;
color: white;
}

#me {
display: block;
width: 60px;
border-radius: 100%;
margin: auto;
padding: 0;
}

nav li {
font-family: "PTSans", sans-serif;
font-weight: 700;
display: inline-block;
}

#tagline {
padding-bottom: 0.709em;
border-bottom: thick solid powderblue;
width: 100%;
display: inline-block;
}

p:first-of-type { text-indent: 1.6em; }

nav {
border-top: thin solid powderblue;
border-bottom: thin solid powderblue;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 450px;
margin-left: 450px;
position: sticky;
top: 0;
}

nav ul { padding-left: 0; }

h1, h2, nav ul, #tagline { text-align: center; }

@media (min-width:641px) {
body { font-size: 1em; }
#me { width: 100px; }
}

ul.posts { 
    margin: 10px auto 20px; 
    font-size: 1.2em;
	padding: 1.618em;
}

ul.posts li {
    list-style: none;
}

ul.contact {
	margin: auto;
	list-style-type: none;
	text-align: center;
}

ul.contact li {
	margin: auto;
	list-style-type: none;
	display: inline;
}